body {
    font-family: Tahoma;
    font-size: small;
}

.angular-small-grid-header-cell {
    background-color: #d4e2f5;
    text-align: center;
    line-height: 30px;
}

.angular-small-grid-cell {
    border-right: 1px solid #d4e2f5;
    border-bottom: 1px solid #d4e2f5;
    line-height: 30px;
    text-align: center;
}

.angular-small-grid-table {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    bottom: 50px;
}

.special-column {
    background-color: rgba(211, 255, 147, 0.52) !important;
}