<html ng-app="app" ng-controller="ctrl">
<head>
    <script type="application/javascript" src="vendor/jquery-1.11.3.js"></script>
    <script type="application/javascript" src="vendor/angular-1.4.7.js"></script>

    <script type="application/javascript" src="angular-small-grid.js"></script>
    <link rel="stylesheet" href="angular-small-grid.css">

    <script type="application/javascript" src="demo.js"></script>
    <link rel="stylesheet" href="demo.css">
</head>
<body>
<h1>Small Grid Demo</h1>
<button ng-click="pinLeft('column1')">PinLeft</button>
<button ng-click="toggleV()">ToggleV</button>
<button ng-click="reload()">Reload Data</button>
<angular-small-grid asg-config="config" asg-data="data"></angular-small-grid>
</body>
</html>