.angular-small-grid-header-cell {
    background-color: white;
}

.angular-small-grid-cell {
    background-color: yellow;
}

.angular-small-grid-table {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    bottom: 50px;
}

.angular-small-grid-body {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}