.table {
    position: relative;
    overflow: hidden;
}

.header {
    /*width: 600px;*/
    overflow: hidden;
}

.body {
    /*width: 600px;*/
    /*height: 200px;*/
    overflow: scroll;
    position: relative;
    white-space: nowrap;
}

.headCell {
    display: inline-block;
}

.cell {
    float: left;
    display: inline-block;
}